body {
	background-color: white;
}

h1 {
	color:black;
	font-size: 80px;
	font-family: 'Times New Roman', Times, serif;
}

h2 {
	font-size: 60px;
	font-family: 'Times New Roman', Times, serif;
}

li {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}

p {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}